.space {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    display: block;
}
.space-hidden {
    display: none;
}
.alert-msg {
    font-size: 150px;
    color: white;
    font-family: monospace;
}

.restart {
    font-size: 20px;
    color: white;
    font-family: monospace;
    background-color: #413d3d;
    cursor: pointer;
    padding: 20px 35px 20px 35px;
    border-radius: 5px;
    border: 1px solid white;
    transition: 0.5s;

}
.restart:hover {
    background-color: #3d3d3d;
    border: 1px solid #3d3d3d;
}